body, html
{
    font-size: 16px;
}

body > header
{
    height: 57px;
    margin-bottom: 30px;
}

body > header menu
{
    margin-top: 13px;
}

body > header menu > a
{
    font-size: small;
}

logo
{
    width:  64px;
    height: 64px;

    margin-right: 16px;
}

logo > img
{
    width: 64px;
}

body > section > container h1
{
    font-size: large;
}

body > footer
{
    background-size: 100%;
    min-height: 50px;
    padding: 50px 16px 16px;
}

panorama
{
    background-size: auto 200px;
    height: 200px;
}

panorama > container button
{
    font-size: large;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
}

panorama > container .title
{
    font-size: large;
}

panorama > container .subtitle
{
    font-size: medium;
}