body, html
{
    width:   100%;
    margin:  0;
    padding: 0;

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:       ghostwhite;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-4 { width: 33.3%; }
.col-6 { width: 50%;   }
