/**
 * Gamealition CSS theme by Roy Curtis, 2015
 * Uses colors and gradients from the PBTech phpBB theme
 * See: https://www.phpbb.com/customise/db/style/pbtech/
 */

body, html
{
    width:       100%;
    height:      100%;
    font-family: 'Cabin Condensed', 'Arial Narrow', sans-serif;
    font-size:   20px;
    font-weight: 400;
    background:  #D3D1CE;
    color:       #656565;
}

*
{
    padding:    0;
    margin:     0;
    box-sizing: border-box;
}

/* Objects */

/* http://stackoverflow.com/a/4407335/3354920 */
.noselect
{
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -moz-user-select:      none;
    -ms-user-select:       none;
    user-select:           none;
}

/* Header structure */

body > header
{
    height:        170px;
    background:    #000000 url('../img/header-bg.jpg') repeat-x center 0;
    margin-bottom: 0.2em;
    width:         100%;
    top:           0;
}

body > header > div.logo
{
    padding: 16px;
    height:  130px;
    width:   920px;
    margin:  0 auto;
}

body > header > div.nav
{
    background: url('../img/header-bar.png') repeat-x center bottom;
}

/* Navigation menu */

div.nav
{
    height: 40px;
}

div.nav > container
{
    display:     flex;
    flex-flow:   row;
    width:       920px;
    margin:      0 auto;
    align-items: center;
}

div.nav menu
{
    background:    rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display:       flex;
    flex-flow:     row;
    flex-grow:     1;
    height:        28px;
}

div.nav menu.social
{
    flex-grow:       0;
    margin-left:     1em;
    justify-content: center;
}

div.nav menu > *
{
    flex-grow:  1;
    padding:    2px;
    text-align: center;
}

div.nav menu > a
{
    color:           #9DBECB;
    fill:            #9DBECB;
    text-decoration: none;
}

div.nav menu > a.icon
{
    width:     48px;
    flex-grow: 0;
}

div.nav menu > a.icon svg
{
    width:  24px;
    height: 24px;
}

div.nav menu > a:hover
{
    color: white;
    fill:  white;
}

/* Body sections */

body > section
{
    margin:         16px 0;
    overflow:       hidden;
    display:        flex;
    flex-direction: column;
    align-items:    center;
}

body > section > container
{
    display:     flex;
    align-items: center;
    width:       920px;
}

body > section > container h1
{
    color:       #333232;
    font-size:   xx-large;
    text-shadow: 0 1px white;
}

body > section > container p
{
    padding-top: 16px;
}

body > section > container > section.blurb
{
    padding:    16px;
    flex-basis: 60%;
}

body > section > container > section.links
{
    margin-left: 1em;
    flex-basis:  40%;
}

body > section > container entry
{
    display:     flex;
    align-items: center;
}

body > section > container field
{
    color: #7A7A7A;
}

body > section > container value
{
    text-align:  right;
    font-family: 'Consolas', monospace;
    font-size:   medium;
    flex-grow:   1;
}

body > section > container entry.address
{
    background: #0081B4;
    background: linear-gradient(rgba(0, 129, 180, 1), rgba(0, 106, 155, 1));
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color:      white;
    padding:    4px 8px;
}

body > section > container entry.address field
{
    color: white;
}

body > section > container menu
{
    display:   flex;
    flex-wrap: wrap;
}

body > section > container menu > a
{
    padding:         8px;
    text-align:      center;
    text-decoration: none;
    text-transform:  uppercase;
    display:         inline-block;
    font-weight:     bold;
    background:      #E5E4E3;
    color:           #074E79;
    flex-basis:      40%;
    flex-grow:       1;
}

body > section > container menu > a:hover
{
    color:      #0295EE;
    background: #FFFFFF;
}

body > section > container menu > a:active
{
    background: ghostwhite;
    color:      #00CCFF;
}

body > section > container menu > a.third-party
{
    border-bottom: 3px #732E03 solid;
}

body > section > container menu > a.third-party:hover
{
    border-bottom: 3px #F3A900 solid;
}

body > section > container::after,
body > section > container menu > entry::after
{
    visibility: hidden;
    display:    block;
    font-size:  0;
    content:    " ";
    clear:      both;
    height:     0;
}

body > section:last-of-type
{
    margin-bottom: 0;
}

/* Survival special CSS */

body > section#Survival > container
{
    flex-grow: 1;
}

body > section#Survival > container > section
{
    background:    rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color:         white;
    cursor:        default;
}

body > section#Survival section h1
{
    font-weight: 400;
    text-shadow: none;
    color:       #C9C9C9;
}

body > section#Survival > container entry.address
{
    background:    none;
    box-shadow:    none;
    border-bottom: 1px dotted #C9C9C9;
}

body > section#Survival > container entry.address > field
{
    color: #C9C9C9;
}

body > section#Survival > container menu > a
{
    border-radius: 5px;
    background:    none;
    color:         #9DBECB;
}

body > section#Survival > container menu > a:hover
{
    color: white;
}

/* Footer */

body > footer
{
    background: #000000 url("../img/footer-bg.png") repeat-x center top;
    min-height: 200px;
    padding:    216px 16px 16px;
}

body > footer > container p
{
    color:      #4A4A4A;
    text-align: center;
    font-size:  16px;
    padding:    8px 0;
}

body > footer > container a
{
    color:           #9DBECB;
    text-decoration: none;
}

body > footer > container a:hover
{
    color: ghostwhite;
}

/* Temp: 1.9 migration warning 
 * From http://www.multipetros.gr/posts/728-blink-elements-border-the-css-way/
 */

.warnbox
{
    text-align:    center;
    margin-bottom: 0;
    padding:       1em;
    height:        150px;
}

.blink
{
    border:    5px solid red;
    color:     white;
    animation: blink .5s step-end infinite alternate;
}

.blink a
{ color: red; }

.blink a:hover
{ color: #FFAAAA; }

@keyframes blink
{
    0%
    { border-color: #000000; }
    50%
    { border-color: #FF0000; }
}