/**
 * Gamealition responsive CSS theme by Roy Curtis, 2015
 * Uses colors and gradients from the PBTech phpBB theme
 * See: https://www.phpbb.com/customise/db/style/pbtech/
 */

/* Logo */

logo
{
    width:  48px;
    height: 48px;
}

logo > img
{
    width: 48px;
}

body > header > div.logo
{
    height: auto;
}

/* Header */

body > header
{
    background: #000000 url('../img/header-bg.jpg') repeat-x center bottom;
}

/* Navigation menu */

body > header > div.nav
{
    height:        auto;
    background:    none;
    border-bottom: 5px solid #E8E7E6;
}

div.nav > container
{
    flex-wrap: wrap;
}

div.nav menu.community,
div.nav menu.social
{
    border-radius: 0;
    flex-basis:    100%;
}

div.nav menu.social
{
    flex-grow:   1;
    margin-left: 0;
}

/* Panorama */

panorama
{
    height:          200px;
    background-size: auto 200px;
}

/* Sections */

body > section
{
    margin: 0;
}

body > section > container
{
    flex-wrap: wrap;
}

body > section > container > section
{
    flex-grow: 1;
}

body > section > container > section.blurb,
body > section > container > section.links
{
    flex-basis: 100%;
}

body > section > container > section.links
{
    margin: 0;
}

body > section > container menu > a
{
    flex-basis: auto;
}

/* Footer */

body > footer
{
    padding: 50px 16px 16px;
}