body, html
{
    width:   100%;
    height:  100%;
    margin:  0;
    padding: 0;

    font-family: 'Ubuntu Condensed', sans-serif;
    font-size:   20px;
    background:  #00222b;
    color:       #d5f6ff;
}

*
{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

/* Objects */

.col-4 { width: 33.3%; }
.col-6 { width: 50%;   }
.col-8 { width: 64%;   }

/* http://stackoverflow.com/a/4407335/3354920 */
.noselect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

container
{
    display: block;
    width:   920px;
    margin:  0 auto;
}

/* Page structure */

body > header
{
    height: 90px;
    background: #191919;
    margin-bottom: 75px;
}

body > header > container
{
    padding: 24px;
    height:  100%;
}

body > header menu
{
    list-style: none;
    margin-top: 35px;
    text-align: right;
}

body > header menu > a
{
    display: inline-block;
    color: #00ccff;
    font-size: x-large;
    margin-right: 2%;
    text-decoration: none;
}

body > header menu > a:hover
{
    border-bottom: 3px solid #00ccff;
}

body > section
{
    clear: both;
    margin: 16px 0;
    overflow: hidden;
}

body > section > container h1
{
    color: #00ccff;
    font-size: xx-large;
}

body > section > container p
{
    padding-top: 16px;
}

body > section > container > section
{
    float: left;
    padding: 16px;
}

body > section > container entry
{
    display: block;
    clear: both;
}

body > section > container field
{
    color: #00ccff;
}

body > section > container value
{
    float: right;
    font-family: 'Consolas', monospace;
    font-size: medium;
}

body > section > container menu
{
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
}

body > section > container menu > a
{
    margin:  4px 8px 4px 0;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    background: #003f50;
    color: #00ccff;
}

body > section > container menu > a:hover
{
    color: ghostwhite;
    background: #00ccff;
}

body > section > container menu > a:active
{
    background: ghostwhite;
    color: #00ccff;
}

body > section > container::after,
body > section > container menu > entry::after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body > section:last-of-type
{
    margin-bottom: 0;
}

body > footer
{
    background: #001116 url("../img/footer-bg.png") repeat-x center top;

    min-height:  200px;
    padding: 216px 16px 16px;
}

body > footer > container p
{
    color:   #006680;
    text-align: center;
    font-size:  16px;
    padding: 8px 0;
}

body > footer > container a
{
    color: #00ccff;
    text-decoration: none;
}

body > footer > container a:hover
{
    color: ghostwhite;
}