/**
 * Gamealition responsive CSS theme by Roy Curtis, 2015
 * Uses colors and gradients from the PBTech phpBB theme
 * See: https://www.phpbb.com/customise/db/style/pbtech/
 */

body, html
{
    font-size: 16px;
}

div.nav menu
{
    font-size: 20px;
}

div.nav menu.community
{
    border-radius: 0 5px 5px 0;
}

div.nav menu.social
{
    border-radius: 5px 0 0 5px;
}

/* Intro section */

body > section#Intro p
{
    font-size:     16px;
    margin:        0 0.5em;
    padding:       0.5em 0;
    border-top:    4px double;
    border-bottom: 4px double;
}

body > section#Intro .ornament
{
    display: none;
}

/* Footer */

body > footer
{
    background-size: 100%;
    padding:         75px 16px 16px;
}