logo
{
    position:     relative;
    width:        128px;
    height:       128px;
    float:        left;
    margin-right: 1em;
}

logo > h1
{
    display: none;
}

logo > img
{
    position: absolute;
    width:    128px;
}

logo > img:nth-child(2)
{
    animation-iteration-count: infinite;

    animation-duration:  3s;
    animation-name:      pulse;
    animation-direction: alternate;
}

@keyframes pulse
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}

/*
 * Two-tone & simple text logo idea:
 * * http://i.imgur.com/31Tpa3s.png
 * * http://i.imgur.com/4thl1h9.png
 */

/*
logo > h1
{
    margin-left: 102px;
    margin-top:  43px;
    color: ghostwhite;
    text-transform: uppercase;
    overflow: hidden;
    width: 250px;
}

logo > h1:before
{
    content: "GAMEALITION";
    height: 23px;
    position: absolute;
    color: #00ccff;
    overflow: hidden;
}

logo > h1::first-letter
{
    color: rgba(0,0,0,0);
}*/