/**
 * Gamealition animated logo CSS by Roy Curtis, 2015
 */

logo
{
    display: block;
    width:   92px;
    height:  92px;
    margin:  0 auto;
}

logo > h1
{
    display: none;
}

logo > img
{
    position: absolute;
    width:    92px;
}

logo > img:nth-child(2)
{
    animation-iteration-count: infinite;
    animation-duration:        5s;
    animation-name:            pulse;
    animation-direction:       alternate;
}

@keyframes pulse
{
    from
    {
        opacity: 0.75;
    }

    to
    {
        opacity: 0;
    }
}