/**
 * Gamealition Panorama theme by Roy Curtis, 2015
 * Uses colors and gradients from the PBTech phpBB theme
 * See: https://www.phpbb.com/customise/db/style/pbtech/
 */

.panorama
{
    height:        400px;
    background:    #FFFFFF;
    cursor:        move;
    border-top:    5px solid #C3C2C1;
    border-bottom: 5px solid #E8E7E6;
}

.panorama pano
{
    display: none;
}

.panorama > controller
{
    display:         flex;
    align-items:     center;
    justify-content: center;
    flex-wrap:       wrap;
    margin:          0 0 0.5em;
    width:           640px;
}

.panorama > controller,
.panorama > controller button
{
    color:       #FFFFFF;
    text-shadow: 1px 1px #000000;
}

.panorama > controller:hover
{
    text-shadow: none;
}

.panorama > controller:hover button
{
    color:       #9DBECB;
    background:  rgba(0, 0, 0, 0.75);
    text-shadow: none;
}

.panorama > controller:hover button.prev
{
    border-radius: 0 0 0 5px;
}

.panorama > controller:hover button.next
{
    border-radius: 0 0 5px 0;
}

.panorama > controller button
{
    flex-basis: 64px;
    background: none;
    border:     none;
    font-size:  large;
    cursor:     pointer;
    display:    block;
    padding:    1px 16px 2px;
}

.panorama > controller button:hover
{
    color: #FFFFFF;
}

.panorama > controller > span
{
    flex-grow:     1;
    flex-basis:    100%;
    text-align:    center;
    border-radius: 5px;
    padding:       8px 0;
}

.panorama > controller:hover > span
{
    background: rgba(0, 0, 0, 0.75);
}

.panorama > controller .title
{
    font-size:   xx-large;
    margin-left: 8px;
}

.panorama > controller .subtitle:before
{
    content:       "by ";
    padding-right: 4px;
    font-style:    italic;
    font-size:     small;
}