body
{
    background: url(../img/bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-animation: slideshow 100s infinite; /* Safari 4+ */
    -moz-animation:    slideshow 100s infinite; /* Fx 5+ */
    -o-animation:      slideshow 100s infinite; /* Opera 12+ */
    animation:         slideshow 100s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes slideshow
{
    0%,  5%  { background-image: url(../img/bg-1.jpg); }
    10%, 15% { background-image: url(../img/bg-2.jpg); }
    20%, 25% { background-image: url(../img/bg-3.jpg); }
    30%, 35% { background-image: url(../img/bg-4.jpg); }
    40%, 45% { background-image: url(../img/bg-5.jpg); }
    50%, 55% { background-image: url(../img/bg-6.jpg); }
    60%, 65% { background-image: url(../img/bg-7.jpg); }
    70%, 75% { background-image: url(../img/bg-8.jpg); }
    80%, 85% { background-image: url(../img/bg-9.jpg); }
    90%, 95% { background-image: url(../img/bg-10.jpg); }
    100%     { background-image: url(../img/bg-1.jpg); }
}

@-moz-keyframes slideshow
{
    0%,  5%  { background-image: url(../img/bg-1.jpg); }
    10%, 15% { background-image: url(../img/bg-2.jpg); }
    20%, 25% { background-image: url(../img/bg-3.jpg); }
    30%, 35% { background-image: url(../img/bg-4.jpg); }
    40%, 45% { background-image: url(../img/bg-5.jpg); }
    50%, 55% { background-image: url(../img/bg-6.jpg); }
    60%, 65% { background-image: url(../img/bg-7.jpg); }
    70%, 75% { background-image: url(../img/bg-8.jpg); }
    80%, 85% { background-image: url(../img/bg-9.jpg); }
    90%, 95% { background-image: url(../img/bg-10.jpg); }
    100%     { background-image: url(../img/bg-1.jpg); }
}

@-o-keyframes slideshow
{
    0%,  5%  { background-image: url(../img/bg-1.jpg); }
    10%, 15% { background-image: url(../img/bg-2.jpg); }
    20%, 25% { background-image: url(../img/bg-3.jpg); }
    30%, 35% { background-image: url(../img/bg-4.jpg); }
    40%, 45% { background-image: url(../img/bg-5.jpg); }
    50%, 55% { background-image: url(../img/bg-6.jpg); }
    60%, 65% { background-image: url(../img/bg-7.jpg); }
    70%, 75% { background-image: url(../img/bg-8.jpg); }
    80%, 85% { background-image: url(../img/bg-9.jpg); }
    90%, 95% { background-image: url(../img/bg-10.jpg); }
    100%     { background-image: url(../img/bg-1.jpg); }
}

@keyframes slideshow
{
    0%,  5%  { background-image: url(../img/bg-1.jpg); }
    10%, 15% { background-image: url(../img/bg-2.jpg); }
    20%, 25% { background-image: url(../img/bg-3.jpg); }
    30%, 35% { background-image: url(../img/bg-4.jpg); }
    40%, 45% { background-image: url(../img/bg-5.jpg); }
    50%, 55% { background-image: url(../img/bg-6.jpg); }
    60%, 65% { background-image: url(../img/bg-7.jpg); }
    70%, 75% { background-image: url(../img/bg-8.jpg); }
    80%, 85% { background-image: url(../img/bg-9.jpg); }
    90%, 95% { background-image: url(../img/bg-10.jpg); }
    100%     { background-image: url(../img/bg-1.jpg); }
}